extends layout

block content
  for employee in employees
    div(class='row')
      div(class='col-md-8 col-md-offset-2 container')
        include employee.jade
  else
    div(class='row')
      div(class='col-md-8 col-md-offset-2 container')
        div(class='alert alert-info') <strong>Sorry,</strong> No Results
