div(class='panel panel-default')
  if employee
    div(class='panel-heading') #{employee.displayName}
      span(class='pull-right gold') Over 9000 <span class='glyphicon glyphicon-registration-mark gold'></span>
    if !employees
      div(class='panel-body')
        h2 <span class='glyphicon glyphicon-pencil'></span> Insert a form here
    ul(class='list-group')
      li(class='list-group-item') #{employee.email}
      if !employees
        li(class='list-group-item') Insert past recognitions here
