div(class='panel panel-default')
  if employee
    div(class='panel-heading') #{employee.displayName}
      span(class='pull-right gold')
        if employee.coins > 9000
          span Over 9000 
        else
          span #{employee.coins} 
        span(class='glyphicon glyphicon-registration-mark gold')
    if !employees
      div(class='panel-body')
        div(class='row')
          h1 
          div(class='col-md-12')
            form(role='message', action='/recognize/'+employee._id, method='POST')
              div(class='input-group input-group-lg')
                input(type='text', class='form-control', placeholder='Say Something Nice...', name='message')
                span(class='input-group-btn')
                  button(type='submit', class='btn btn-default')
                    span(class='glyphicon glyphicon-bullhorn')
    ul(class='list-group')
      li(class='list-group-item') #{employee.email}
      if !employees
        for recognition in employee.recognitions
          li(class='list-group-item')
            include recognition.jade
        else
          li(class='list-group-item') #{employee.firstName} doesn't appreciate you... *sniffle*
