div(class='panel panel-default')
  if employee
    div(class='panel-heading') #{employee.displayName}
      span(class='pull-right gold') Over 9000 <span class='glyphicon glyphicon-registration-mark gold'></span>
    if !employees
      div(class='panel-body')
        div(class='row')
          div(class='col-md-12')
            form(role='message', action='/recognize/'+employee._id, method='POST')
              div(class='input-group input-group-lg')
                input(type='text', class='form-control', placeholder='Say Something Nice...', name='message')
                span(class='input-group-btn')
                  button(type='submit', class='btn btn-default')
                    span(class='glyphicon glyphicon-bullhorn')
    ul(class='list-group')
      li(class='list-group-item') #{employee.email}
      if !employees
        li(class='list-group-item') Insert past recognitions here
