div(class='panel panel-default')
  if user
    div(class='panel-heading') #{user.displayName}
      span(class='pull-right gold') Over 9000 <span class='glyphicon glyphicon-registration-mark gold'></span>
    div(class='panel-body')
      h2 <span class='glyphicon glyphicon-pushpin'></span> Insert an image here
    ul(class='list-group')
      li(class='list-group-item') #{user.email}
      if employee
        li(class='list-group-item') Insert past recognitions here
