body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gold {
  color: #DAA520;
}

.employees:hover .panel-heading {
  background-color: #E7E7E7;
}
